---
const { frontmatter } = Astro.props;
const { title, heroImage } = frontmatter;
---

<html lang="ja" class="bg-sumiiro text-gray-200">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <section class="px-4 py-8 max-w-4xl mx-auto prose prose-invert">
      {heroImage && (
        <div class="mb-12">
          <img
            src={heroImage}
            alt="About Cover"
            class="w-full max-h-[400px] object-cover rounded-xl shadow-lg"
          />
        </div>
      )}
      <h1 class="text-center text-3xl font-bold mb-8">{title}</h1>
      <slot />
    </section>
  </body>
</html>