---
const { title, heroImage } = Astro.props;
---

<html lang="ja" class="bg-sumiiro text-gray-200">
  <head>
    <title>{title}</title>
  </head>
  <body>
    {heroImage && (
      <div class="w-full max-w-3xl mx-auto mt-8">
        <img
          src={heroImage}
          alt="About Cover"
          class="w-full max-h-[400px] object-cover rounded-xl shadow-lg mb-6"
        />
      </div>
    )}
    <main class="px-4 py-8 max-w-4xl mx-auto prose prose-invert">
      <h1 class="text-center text-3xl font-bold mb-8">{title}</h1>
      <slot />
    </main>
  </body>
</html>