---
const { title, heroImage } = Astro.props;
---

<html lang="ja" class="bg-sumiiro text-gray-200">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <section class="relative">
      {heroImage && (
        <img src={heroImage} alt="About Cover" class="w-full max-h-[400px] object-cover rounded-xl shadow-lg" />
      )}
      <div class="relative px-4 py-12 max-w-4xl mx-auto">
        <h1 class="text-center text-3xl font-bold mb-8">{title}</h1>
        <slot />
      </div>
    </section>
  </body>
</html>