---
const { title, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    {heroImage && (
      <div class="hero-image">
        <img src={heroImage} alt="About Cover" />
      </div>
    )}
    <h1>{title}</h1>
    <main>
      <slot />
    </main>
  </body>
</html>